{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    NetFlix Fake - Home Filmes
{% endblock %}

{% block content %}
    <div class="py-10">
        <p>Essa home page de filmes</p>
        {% for filme in object_list %}
            <hr>
            <a href="{% url 'filme:detalhesfilme' filme.id %}">
                <p>{{ filme.titulo }}</p>
            </a>
            <p>{{ filme.descricao }}</p>
            <img src="{{filme.thumb.url}}">


        {% endfor %}
    </div>
{% endblock %}